{% load staticfiles %}
<html>

	<head>
				<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'style/stylesheet.css' %}">
	</head>

	<body>
		<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Team Jericho</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">User Profile</a></li>
        <li class="active"><a href="/browse">News</a></li>
        <li class="active"><a href="/logout">Logout</a></li>
    </ul>
  </div>
	</nav>
		<div class = "container">
			<div class="page-title"><h1>User Profile {{ user }}</h1></div> <br/>

		{% block content %}
		<form method="post">
		  {% csrf_token %}
		  {{ prefs_form.as_p }}
		  <button type="submit">Save changes</button>
		</form>
		{% endblock %}
	</div>
	</body>

</html>